* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
html{
    scroll-behavior: smooth;
}

/* Global style */
.container {
    width: 80%;
    margin: auto;
}

.padding-top-bottom {
    padding: 4% 0%;
}

.text-center {
    text-align: center;
}

.title-font {
    font-size: 40px;
}

.hr-style {
    /* border-color: orangered; */
    width: 10%;
    /* color: orangered;
    background-color: orangered; */
    /* border-width: 14px; */
    /* border-style: solid; */
    
    margin: 3% auto;
}
.hr-primary{
    border: 2px solid orangered;
}
.hr-secondary{
    border: 2px solid white;
}

.text-light {
    color: rgb(172, 172, 172);
}

.bg-light {
    background-color: lightgray;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

.bg-dark {
    background-color: rgb(46, 46, 46);
}

.text-white {
    color: white;
}
.btn-transparent{
    margin: 2% 0%;
    background: transparent;
    border: 2px solid;
    padding: 1% 2%;
    font-size: 20px;
}

/* Custom style */
nav {
    padding: 1% 0%;
}

nav ul {
    width: 23%;
}

nav li {
        float: left;
    margin-left: 4%;
}

.card {
    width: 32%;
    margin-top: 7%;
    /* display: inline-block; */
}

.icon-circle {
    color: orangered;
    font-size: 40px;
    border: 2px solid;
    /* padding: 2%; */
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding-top: 4%;
    margin-bottom: 4%;
}

.bg-img{
    background-image: url(../images/istockphoto-517188688-612x612.jpg);
    /* height: 600px; */
        background-repeat: no-repeat;
    /* background-position-x: right; */
    /* background-position-y: bottom; */
    /* cover , containe ==> search */
    background-size: 100% 100%;
    background-color: lawngreen;
}
.overlay{
    background-color: #0000007a;
}